body {
  color: aliceblue;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 1.1;
}
#main_container {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    130deg,
    rgba(249, 194, 46, 1) 19%,
    rgba(241, 89, 70, 1) 73%,
    rgba(228, 42, 17, 1) 100%
  );
}
#form {
  align-items: center;
  background-color: rgba(20, 17, 15, 0.85);
  border: solid 2px rgb(20, 17, 15);
  border-bottom: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  padding: 1.5em;
  width: 40%;
}
.weather_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.5em;
  padding: 1.5em;
  width: 40%;
  height: 50%;
  background-color: rgba(20, 17, 15, 0.85);
  border: solid 2px rgb(20, 17, 15);
  border-top: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
#weatherAppTitle {
  margin-bottom: 0.5em;
}
#top-left-section {
  display: flex;
  justify-content: space-around;
}
#weatherTypeIconDiv {
  display: flex;
  align-items: flex-start;
  width: 110px;
  height: 110px;
  padding: none;
}
#temperature-icon-div {
  display: flex;
  align-items: center;
}
#cityCountrySection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1.25em;
}
#cityCountryP {
  margin-bottom: 0.25em;
}
.bottomSection {
  padding: 1.25em;
}
.flex-spaceBetween {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}
/* Search Input and Search Button */
.sinput {
  width: 40%;
  height: 3rem;
  color: black;
  border-radius: 5px;
  border: 2px solid black;
}
#submit_btn {
  width: 52px;
  height: 52px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}
/* =============================== */

/* PlaceHolder Text Before Search */
#weatherPlaceHolderText {
  text-align: center;
  grid-column: span 2;
}
/* ================================ */

/* Icons */
#searchIcon {
  width: 32px;
  height: 32px;
}
#temperatureIcon {
  width: 32px;
  height: 32px;
  margin-left: 5px;
  padding-bottom: 5px;
}
#weatherIcon {
  width: 96px;
  height: 96px;
}
/* ================== */

/* Font Sizes */
.font_xl {
  font-size: 48px;
}
.font_l {
  font-size: 32px;
}
.font_m {
  font-size: 20px;
}
.font_s {
  font-size: 18px;
}
/* ================== */

/* PlaceHolder Text Color */
::placeholder {
  color: black;
  opacity: 1;
}
:-ms-input-placeholder {
  color: black;
}
::-ms-input-placeholder {
  color: black;
}
/* =================== */

@media screen and (max-width: 900px) {
}
