@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  color: rgb(255, 255, 255);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

#main_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 88, 226, 1) 50%,
    rgba(0, 207, 255, 1) 100%
  );
}
.weather_container {
  padding: 32px;
  width: 40%;
  height: 50%;
  background-color: rgba(150, 150, 150, 0.9);
  border: 2px solid black;
  border-top: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}
#form {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid black;
  border-bottom: 1px solid black;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  display: flex;
  justify-content: space-evenly;
  padding: 32px;
  width: 40%;
}
#submit_btn {
  width: 48px;
  height: 48px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}
#searchIcon {
  width: 24px;
  height: 24px;
}
#stack {
  display: flex;
  flex-direction: column;
}
#title {
  font-size: 24px;
}
#temp_now_div {
  display: flex;
  font-size: 48px;
}
#temp {
  width: 32px;
  height: 32px;
  margin-left: 16px;
}
.sinput {
  width: 11vw;
  height: 48px;
  color: black;
  border-radius: 20px;
  border: 2px solid black;
}
#weatherIcon {
  width: 128px;
  height: 128px;
}
.flex {
  display: flex;
  align-items: center;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.font_xl {
  font-size: 48px;
}
.font_l {
  font-size: 32px;
}
.font_m {
  font-size: 24px;
}
.font_s {
  font-size: 20px;
}
#top_right {
  margin: auto;
}
/* All for the Inputs */
::placeholder {
  color: black;
  opacity: 1;
}
:-ms-input-placeholder {
  color: black;
}
::-ms-input-placeholder {
  color: black;
}
